input {
    font-size: 16px;
    line-height: 30px;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px 0 0 5px;

}

button {
    font-size: 16px;
    line-height: 30px;
    outline: none;
    border: 1px solid #000;
    border-radius: 0 5px 5px 0;
    background-color: #000;
    color: #fff;
    cursor: pointer;

}

button:hover {
    background-color: #333;
}

ul {
 font-size: 18px;
   list-style: none;
   padding-inline-start: 0; 
   margin-block-start: 0;
}


.link {
    color:#333;
    text-decoration: none;
    text-align: start;
    display: block;
   
    
}


.link:visited {
    color: #000;
    
}