.App {
  text-align: center;
  margin-top: 30px;
  
}

.App-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.logo {
  width: 20%;
}
a{
  display: block;
}